$white:#fff;
$gray:#4F4F4F;
$pink:#F3849F;
$purple:#926FF6;
$blue:#79CFFF;
$yellow:#FFAE00;
$fonts: ('Poppins-Bold',  700),
        ('Poppins-Extrabold',  800),
        ('Poppins-Regular', 400),
        ('Poppins-Medium', 500),
        ('Poppins-Light', 300);
@each $name, $weight in $fonts {
    @font-face {
        font-family: $name;
        src: url('../fonts/#{$name}.ttf');
        font-weight: $weight;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 931px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
html{
    scroll-behavior: smooth;
}