header.header 
    .container 
        .header__content 
            nav.header__content-nav
                a(href="") 
                    h4.header__content-logo my logo
                .header__content-about 
                    ul.header__content-list 
                        a(href="") 
                            li.header__content-link Home
                        a(href="") 
                            li.header__content-link About
                        a(href="")
                            li.header__content-link Portfolio
                        a(href="")
                            li.header__content-link Blogs
                        a(href="")
                            li.header__content-link Contact
            .header__content-creative 
                h4.header__content-text Creative Agency
                h1.header__content-title HERO HEADER
                h4.header__content-describe The best in town.
                a(href="#footer")
                    img(src="./images/arrow.svg", alt="").header__content-arrow 