main.main
    .container  
        .main__content 
            .main__content-about 
                .main__content-agency   
                    h5.main__content-title About Our Agency
                    p.main__content-describe We create awesome prototypes, plugins, and templates.
                    p.main__content-text For instance, whenever I go back to the guest house during the morning to copy out the contract, these gentlemen are always still sitting there eating their breakfasts.
                    .main__content-video
                        a(href="") 
                            img(src="./images/play.svg", alt="") 
                        p.main__content-play PLAY VIDEO
                .main__content-mountain 
                    img(src="./images/mountains.webp", alt="")
        .main__items 
            .main__items-item  
                img(src="./images/Graphic.svg", alt="") 
                h5.main__items-title web design
                p.main__items-text Research, user experience testing, mockups, and prototypes             
            .main__items-item   
                img(src="./images/develop.svg", alt="")
                h5.main__items-title development
                p.main__items-text Research, user experience testing, mockups, and prototypes             
            .main__items-item  
                img(src="./images/research.svg", alt="")
                h5.main__items-title research
                p.main__items-text Research, user experience testing, mockups, and prototypes  
        .main__project 
            h4.main__project-title Portfolio
            p.main__project-text Browse Our Projects
            ul.main__project-list
                a(href="").main__project-link
                    li All
                a(href="").main__project-link
                    li Web Design
                a(href="").main__project-link
                    li Development
                a(href="").main__project-link
                    li Research
            .main__project-picture  
                img(src="./images/project-picture.webp", alt="")
                img(src="./images/project-picture_2.webp", alt="")
                img(src="./images/project-picture_3.webp", alt="")
                img(src="./images/project-picture_4.webp", alt="")
                img(src="./images/project-picture_5.webp", alt="")
                img(src="./images/project-picture_6.webp", alt="")
    .main__mountains
        .container 
            .main__mountains-content 
                h5.main__mountains-title Updates & News
                p.main__mountains-text Recent Blog Posts
            .main__mountains-items 
                .main__mountains-item 
                    img(src="./images/mountain.webp", alt="")
                    h6.main__mountains-caption  OPINION
                    p.main__mountains-describe Why you should start using Figma for prototyping.
                .main__mountains-item 
                    img(src="./images/mountain_2.webp", alt="")
                    h6.main__mountains-caption NEWS
                    p.main__mountains-describe Why you should start using Figma for prototyping.
                .main__mountains-item 
                    img(src="./images/mountain_3.webp", alt="")
                    h6.main__mountains-caption OPINION
                    p.main__mountains-describe Why you should start using Figma for prototyping.

